header {
    background-color: #fff;
    padding: 10px;
}

body { 
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;

}

.primo-div{

    padding: 10px;
    border-bottom: 2px solid;
    border-color: #f6f8f9;
    
}

.contenitore{ 
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 5%;
    background-color: #fff;
    
}
*{
box-sizing: border-box;
margin: 0; 
padding: 0;

}

.Primo-Bottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    
}
.Bt-Blue {background-color: rgb(44, 130, 243);
    color: #fff;
}



.Secondo-Bottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px ;
}
 
h1{
  
    font-size: 24px;
    font-weight:600;
    margin-left: 5px;

 }
.margini-lista {
    
    margin-bottom: 10px;
    
}
/*da i margini a ogni lista e rimuove i pallini di fianco la lsita*/
ul.spazio-nella-lista li{
    margin-top: 10px ;
    margin-bottom: 10px;
    list-style-type: none;
    
}
 /*serve a spostare di un po l h3 dal triangolino rovesciato*/
h3 {
    padding-left: 3px;
    padding-bottom: 10px ;
}


/*regola tutto su una sola riga e regola i bordi delle spunte*/
.bordo-croce-spunte{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    height: 15px;
    width: 15px;
}
/*da il colore alla spunta e al suo bordo*/
.Spunta {
    
    border-color: #2cc6ab;
    padding-left: 2px;
    padding-bottom: 5px;
    color: #2cc6ab;
}
/*da il colore alla croce e al suo bordo*/
.croce {
    
    border-color: #ff0001;
    padding-left: 2px;
    padding-bottom: 5px;
    color: #ff0001;
}
.stringa {
    display: inline-block;
    margin-left: 5px;
}

.tag{
    color: #fff ;
    font-size: 9px;
    text-align: center;
    border-radius: 13px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 5px;
}

.editorial
{
    background-color: #0aa9ed;
}

.q1-goals
{
    background-color: #ab5de6;
}

.recruiting
{
    background-color: #2cc6ab;
}

.mobile
{
    background-color: #ff9b00;
}

.website
{
    background-color: #ec4a9d;
}

.sales
{
    background-color: #a3d117;
}
