header {
    background-color: #fff;
}

body { 
    background-color:#f6f8f9;
    font-family: 'Roboto', sans-serif;

}

.primo-div{

    padding: 10px;
    border-bottom: 2px solid;
    border-color: #f6f8f9;
}

.contenitore{ 
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 5%;
    background-color: #fff;
    
}
*{
box-sizing: border-box;
margin: 0; 
padding: 0;

}

.Primo-Bottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    
    
}
.Bt-Blue {background-color: rgb(44, 130, 243);
    color: #fff;
}



.Secondo-Bottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px ;
}
 
h1{
    font-family: sans-serif;
    font-size: 24px;
    font-weight:600;
    margin-left: 5px;

 }
.margini-lista {
    margin-bottom: 10px;
}
/*da i margini a ogni lista e rimuove i pallini di fianco la lsita*/
ul.spazio-nella-lista li{
    margin-top: 10px ;
    margin-bottom: 10px;
    list-style-type: none;
 }
 /*serve a spostare di un po l h3 dal triangolino rovesciato*/
h3 {
    padding-left: 3px;
}


/**/
.bordo-croce-spunte{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    height: 15px;
    width: 15px;
}
.Spunta {
    display: inline-block;
    border-color: #2cc6ab;
    padding-left: 2px;
    padding-bottom: 5px;
    color: #2cc6ab;
}
/*da il colore alla croce e al suo bordo*/
.croce {
    display: inline-block;
    border-color: #ff0001;
    padding-left: 2px;
    padding-bottom: 5px;
    color: #ff0001;
}