header {
    background-color: #fff;
}

body { 
    background-color: lightgray;
}

.primodiv{

    padding: 10px;
}

.contenitore{ 
    width: 60%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 5%;
    background-color: #fff;
    
}
*{
box-sizing: border-box;
margin: 0; 
padding: 0;

}

.PrimoBottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(44, 130, 243);
    color: #fff;
}



.SecondoBottone {
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
}